@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

*, html {
    box-sizing: border-box;
}

h1 { 
    margin: 0;
    font-size: 2rem;
}

h2 { 
    margin: 0;
    font-size: 1.1rem;
}

main {
    display: flex;
    width: 55%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #ccc;
    border: 1px solid #888;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 1rem;
    height: 100px;
    flex-basis: 22%;
    display: flex;
    align-items: center;
    text-justify: center;
    font-family: 'Roboto', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: 400;
}

section:nth-of-type(1) { 
    flex-basis: 100%; 
    background-color: transparent; 
    font-weight: 700;
}

section:nth-of-type(2) { flex-basis: 47%; }

section:nth-of-type(3), section:nth-of-type(5), section:nth-of-type(11) { background-color: green; color: #fff; }
section:nth-of-type(3) {  
    font-weight: 700;
    font-size: 3rem;
}

section:nth-of-type(6), section:nth-of-type(8), section:nth-of-type(9) { background-color: #888; }

section:nth-of-type(10) { flex-basis: 47%; }

section p, section h1, section h2, section code {
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
}