*, html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #222;
}

main, header ul {
    display: flex;
}

header h1 {
    margin: 0;
    padding: 2rem;
    text-align: center;
    color: #eee;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

header ul li a:hover {
    background-color: rgb(250, 6, 177);
    color: #fff;
}

article {
    background-color: #777;
    width: 75%;
    padding: 2rem;
}

aside {
    background-color: #999;
    width: 25%;
    padding: 2rem;
}

footer {
    background-color: #ccc;
    padding: 2rem;
}

table {
    margin: 1rem auto;
    border: 1px solid #eee;
    background-image: url(eagles-logo.jpg);
    background-size: cover;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: lightgreen;
}

table td, table th {
    border: 1px solid #eee;
    padding: .8rem;
    background-color: #555;
}

td:hover, th:hover {
    background-color: transparent;
    color: transparent;
}

table th {
    color: darkorange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

caption {
    color: #eee;
    padding: 1rem;
}
